@use '@/styles/sidebarMenu.scss' as menu;

#dashbord {
    width: 100%;
    height: 100%;

    .waterMark {
        width: 100%;
        height: 100%;
        display: flex;

        .sideBar {
            width: menu.$menuDefaultWith;
            height: 100%;
            transition: all 0.3s linear;
        }

        .main {
            flex: 1;
            height: 100%;

            .topBar {
                height: 6%;
            }
        }
    }
}

.isToSmall {
    .sideBar {
        width: menu.$menuCollapsedWith !important;
    }
}