.form {
    height: auto;
    width: 100%;
    margin-bottom: 10px;

    .flex {
        width: 100%;

        .row {
            max-height: 30px;
            overflow: hidden;
            transition: max-height 0.6s linear;
        }

        .autoHeight {
            max-height: 180px;
        }

        :global(.ant-form-item) {
            margin-bottom: 6px;

            :global(.ant-form-item-label) {
                width: calc(40% - 2px);
                margin-right: 2px;

                label {
                    font-size: 12px;
                }
            }

            :global(.ant-form-item-control) {
                width: 60%;

                input,
                span {
                    font-size: 12px;
                }

            }

        }

        .btns {
            min-width: 160px;
            display: flex;
            justify-content: flex-end;

            .reset {
                margin: 0 6px;
            }

            .expand {
                font-size: 10px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;

                &:hover {
                    color: $hoverColor;
                }
            }
        }
    }
}

:global(.ant-picker) {
    width: 100%;
}