#sideBar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .topIcon {
        height: 18%;
        min-height: 100px;
        width: 100%;
        background-image: url('@/assets/images/menu_top_icon.jpg');
        background-size: cover;
    }

    .menu {
        width: 100%;
        flex: 1;
        overflow-y: auto;
    }

    .isToSmall {
        width: 40%;
    }

    // 滚动条
    .menu::-webkit-scrollbar {
        width: 4px;
    }

    // 滚动条背景颜色
    .menu::-webkit-scrollbar-track {
        background: rgb(0, 21, 41);
    }

    // 滚动条样式
    .menu::-webkit-scrollbar-thumb {
        background: lightgray;
        border-radius: 2px;
    }
}