#sideBar {
    width: 100%;
    height: 100%;
    background: rgb(0, 21, 41);
    display: flex;
    flex-direction: column;

    .top {
        width: 100%;
        border-bottom: 1px solid #BEBEBE;
        margin-bottom: 4px;

        .topIcon {
            height: 10%;
            min-height: 60px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 32px;
                height: 32px;
            }

            span {
                color: #fff;
                font-size: 14px;
                white-space: nowrap;
            }
        }

        .autoSearch {
            height: 26px;
            width: 100%;
            padding: 0 8px;
            margin-bottom: 4px;

            :global(.ant-select-selector) {
                border-color: rgb(0, 21, 41);
                background-color: lightgrey;

                input {
                    color: #363636;
                }
            }
        }
    }

    .drawer {
        margin-left: $menuDefaultWith;

        button {
            border: none;
            color: #000;

            span {
                display: block;
            }
        }

        button:hover {
            color: #87CEEB;
        }
    }

    .menu {
        width: 100%;
        flex: 1;
        overflow-y: auto;

        :global(.ant-menu-item) {
            width: 100%;
            height: 6%;
            padding: 0;
            margin: 0;
            border-radius: 0;
        }

        :global(.ant-menu-item:hover) {
            background: #708090;
        }

        :global(.ant-menu-item-selected) {}

    }

    // 滚动条
    .menu::-webkit-scrollbar {
        width: 4px;
    }

    // 滚动条背景颜色
    .menu::-webkit-scrollbar-track {
        background: rgb(0, 21, 41);
    }

    // 滚动条样式
    .menu::-webkit-scrollbar-thumb {
        background: lightgray;
        border-radius: 2px;
    }
}

.isToSmall {
    .autoSearch {
        display: none;
    }

    .drawer {
        margin-left: $menuCollapsedWith !important;
    }

    span {
        display: none;
    }
}