.navbar {
    width: 100%;
    height: 100%;

    .tabs {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        :global(.ant-tabs-nav) {
            height: 28px;
            width: calc(100% + 20px);
            padding: 0 10px;
            margin: 0 -10px 10px;
            background: #fff;

            :global(.ant-tabs-nav-wrap) {
                display: flex;
                align-items: flex-end;

                :global(.ant-tabs-nav-list) {
                    height: 80%;

                    :global(.ant-tabs-tab) {
                        font-size: 10px;
                        border-radius: 4px 4px 0 0;
                        background-color: rgb(237, 239, 242);
                        border: none;

                        &:hover {
                            color: $activeColor;
                        }

                        button {
                            font-size: 8px;
                            margin-left: 4px;

                            &:hover {
                                color: $activeColor;
                            }
                        }
                    }

                    :global(.ant-tabs-tab.ant-tabs-tab-active) {
                        color: $activeColor;
                    }
                }
            }
        }

        :global(.ant-tabs-content-holder) {
            width: 100%;
            flex: 1;
            background: #fff;
            padding: 10px;
        }
    }
}