@use '@/styles/antDesign.scss' as *;
@use '@/styles/variables.scss' as *;

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.commonPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}